
include ./DAAAAATEN

div.kartenset 
    each element in pokemons
            


            div.karte 
                h3.karttext= element.Name
                table
                    tr      
                        th 
                            img.bildKarte(src= "/includes/bilder/" + element.Name + ".png", alt=element.Name)
                     
                - var typen = element.Typ.split('/')
                    each typ in typen
                        if typ === 'Pflanze'
                            div.planze 
                                p Pflanze
                        else if typ === 'Gift'
                            div.gift 
                                p Gift
                        else if typ === 'Feuer'
                            div.feuer 
                                p Feuer
                        else if typ === 'Flug'
                            div.flug 
                                p Flug
                        else if typ === 'Wasser'
                            div.wasser 
                                p Wasser
                        else if typ === 'Käfer'
                            div.keafer 
                                p Käfer
                        else if typ === 'Normal'
                            div.normal 
                                p Normal
                        else
                            p= typ   